<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Edit students</title>
</head>
<body class="bg-white">
    <section class="py-[8rem] border border-white bg-green-900 w-[70%] mx-auto mt-4 rounded-xl">

        <!-- Form with header -->
     <%results.forEach(index=>{%>
         <form class="flex flex-col items-center gap-4" action="/edit" method="POST">
            <h1 class="text-white text-7xl">Edit  students</h1>
            <!-- input And Button container  -->
           <div class="flex flex-col gap-3 items-between  w-[80%]">
            <input name="id" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" value="<%=index.id%>" hidden>

            <input name="name" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" value="<%=index.name%>">
            <input name="age" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" value="<%=index.age%>">

            <input name="email" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" value="<%=index.email%>">

            
         
            <button class="text-white border-2 border-white text-4xl p-3 py-2 rounded-2xl w-[50%] bg-orange-400">Add</button>
           </div>
         </form>

        <%})%>


       

    </section>
</body>
</html>