<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-black">
        <ul class="flex gap-3 text-white justify-end pr-5">
            <a href="/"><li>Home</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/services"><li>Services</li></a>
        </ul>
    </nav>
<center><h1>    I'm services Page 📞</h1></center>
</body>
</html>