<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body><section class="py-[8rem] border border-white bg-green-900 w-[70%] mx-auto mt-4 rounded-xl">

    <!-- Form with header -->
     <form class="flex flex-col items-center gap-4" action="/student" method="POST">
        <h1 class="text-white text-7xl">Register Student</h1>
        <!-- input And Button container  -->
       <div class="flex flex-col gap-3 justify-between  w-[80%]">
        <input name="name" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" placeholder="student Name">
        <input name="age" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" placeholder=" Stuxdent Age">
        <input name="email" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" placeholder="Student Email">
        <input name="grade" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" placeholder="Student Grade">
        <input name="phone" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" placeholder="Student Phone">
        <input name="adress" class="text-white font-bold w-[90%] text-2xl p-2 rounded-xl border border-white " type="text" placeholder="Student Adress">
        
        <button class="text-white border-2 border-white text-4xl p-3 py-2 rounded-2xl" type="submit">Add</button>
       </div>
     </form>

    

</section>
</body>_
</html>